/*mobile version*/

.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
}

.personalia {
    background-color: #e7e8ec;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    background-color: #faf8f8;
    width: 100%;
}

.personalia {
    padding-bottom: 5px;
}

.person-logo {
    margin-top: 8%;
    width: 35%;
    animation: glow 3s ease alternate;
    border-radius: 180px;
}

.person-title {
    margin-top: -10px;
    font-size: 12px;
    font-style: italic;
}

.skills-title {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.profile-content {
    padding: 15px;
    font-size: 20px;
}

.profile-content__category-title {
    color: rgba(39, 140, 39, 0.96);
}

.profile-content__category--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.profile-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    color: rgba(39, 140, 39, 0.96);
    margin: 0;
    font-size: 14px;
}

.profile-content__introduction {
    font-size: 15px;
    margin-bottom: 10px;
}

.profile-content__description {
    font-size: 14px;
}

@media only screen and (min-width: 800px) {
    
    .page {
        flex-direction: row;
    }

    .personalia {
        width: 30%;
    }
    
    .person-name {
        font-size: 20px;
        margin-top: 10px;
    }

    .person-logo {
        margin-top: 8%;
        width: 55%;
        animation: glow 3s ease alternate;
        border-radius: 90px;
    }

    .profile-content__category--hidden-mobile {
        display: flex;
        flex-direction: column;
    }

        /*fix: anders als stipje zichtbaar*/
        .profile-content__category--hidden-mobile hr {
            width: 100%;
        }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header {
        display: flex;
        justify-content: space-between;
    }

    .profile-content__period {
        font-size: 12px;
        color: #5c6166;
        display: flex;
    }
}


/*student uitwerking*/
