@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">
        <img class="person-logo" src="images/profile-image.jpg">
        <h1 class="person-name">Bertil Vossebelt</h1>
        <p class="person-title">Student Software Engineering</p>


        <div class="person-skills">
            <h2 class="skills-title">Programmeertalen</h2>
            <ul>
                <li>C#</li>
                <li>PHP</li>
                <li>Java</li>
                <li>Python</li>
                <li>JavaScript</li>
            </ul>

            <h2 class="skills-title">Frameworks & libraries</h2>
            <ul>
                <li>.NET</li>
                <li>Laravel</li>
                <li>Blazor</li>
                <li>Vue.js</li>
                <li>React</li>
                <li>Socket.io</li>
                <li>Strophe.js</li>
            </ul>

            <h2 class="skills-title">DevOps</h2>
            <ul>
                <li>Terraform</li>
                <li>Ansible</li>
                <li>Kubernetes</li>
                <li>Linux server</li>
                <li>Windows server</li>
                <li>VMware ESXi server</li>
            </ul>

        </div>

        <div class="person-details">
            <a href="https://www.linkedin.com/in/bertil-vossebelt/" target="_blank">LinkedIn</a>
        </div>
    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__introduction">

                    HBO-ICT student Windesheim | Afgeronde studie Applicatie- & Mediaontwikkelaar | Ervaring als full
                    stack developer
                    <br>
                    <br>
                    In 2018 ben ik begonnen aan de opleiding applicatieontwikkelaar bij Landstede in Zwolle. In 2021
                    mocht ik mijn diploma in ontvangst nemen. Tussen deze twee momenten heb veel geleerd, gewerkt en
                    stage gelopen. Op dit moment focus ik mij op mijn volgende uitdaging aan het HBO, waar ik mijn
                    kennis kan verdiepen, maar ook verbreden door bijvoorbeeld bij te leren over hybrid cloud
                    infrastructure en embedded systems engineering.
                <p>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title profile-content__category">Werkervaring</h3>
                <hr>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Teaching Assistant</h4>
                        <p class="profile-content__period">sep 2022 - nov 2022</p>
                    </div>
                    <p class="profile-content__institute">Windesheim, Zwolle</p>
                    <p class="profile-content__description">
                        Als teaching assistant bij Windesheim heb ik bijlessen PHP, SQL en analyse & functioneel
                        ontwerpen gegeven aan studenten. </p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Junior Developer</h4>
                        <p class="profile-content__period">feb 2020 - sep 2021</p>
                    </div>
                    <p class="profile-content__institute">Wholesale Dutch Telecom, Kampen</p>
                    <p class="profile-content__description">
                        Als developer bij WDT ben ik voornamelijk bezig geweest met aanvullende diensten. Zo heb ik veel
                        gewerkt aan een realtime telefonie dashboard dat onder meer de huidige belstatus van toestellen
                        toont, statistieken bijhoudt, chat functionaliteiten aanbiedt en integraties verzorgt met andere
                        programma's.
                        <br>
                        <br>
                        Achter de schermen heb ik veel gewerkt aan diverse API's, aan de ontwikkeling van en de migratie
                        naar een centrale OAuth server en heb ik geschreven aan interne en externe documentatie.
                    </p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Stagiair Applicatie Ontwikkelaar</h4>
                        <p class="profile-content__period">aug 2019 - jan 2020</p>
                    </div>
                    <p class="profile-content__institute">Voip4All, Kampen</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Algemeen Agrarisch Medewerker</h4>
                        <p class="profile-content__period">aug 2019 - jan 2020</p>
                    </div>
                    <p class="profile-content__institute">Vereecken Fruitsappen Appelschilbedrijf & Perenschilbedrijf,
                        Dronten</p>
                    <p class="profile-content__description">
                        Vakantiewerk
                    </p>
                </div>
            </div>

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">HBO-ICT</h4>
                        <p class="profile-content__period">2021 - heden</p>
                    </div>
                    <p class="profile-content__institute">Hogeschool Windesheim, Zwolle</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Applicatie- & Mediaontwikkelaar</h4>
                        <p class="profile-content__period">2018 - 2021</p>
                    </div>
                    <p class="profile-content__institute">Landstede MBO, Zwolle</p>
                </div>
            </div>
        </section>
    </section>
</div>
